<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>NearTube</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1>Member list</h1>
    <table class="table text-center">
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">top location</th>
            <th scope="col">job</th>
            <th scope="col">interests</th>
            <th scope="col">detail</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td style="white-space: pre" th:text="${member.getTopMemberLocationString(3)}"></td>
                <td th:text="${member.job}"></td>
                <td th:text="${member.interests}"></td>
                <td>
                    <a href="#" th:href="@{/members/{id}/recommend (id=${member.id})}"
                       class="btn btn-primary" role="button">상세보기</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>