<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>NearTube</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <h1>Member Information</h1>
    <p>ID : <span th:text="${member.id}"/></p>
    <p>NAME : <span th:text="${member.name}"/></p>
    <p>JOB : <span th:text="${member.job}"/></p>
    <p>INTERESTS : <span th:text="${member.interests}"/></p>
    <p>TOP LOCATION : <span th:text="${member.getTopMemberLocationString(3)}"/></p>
    <br/>
    <br/>
    <h1>Cluster Information</h1>
    <p>CLUSTER ID : <span th:text="${cluster.clusterId}"/></p>
    <br/>
    <br/>
    <h2>Members</h2>
    <ul th:each="member : ${cluster.members}">
        <li>
            <p>NAME : <span th:text="${member.name}"/></p>
            <p>JOB : <span th:text="${member.job}"/></p>
            <p>INTERESTS : <span th:text="${member.interests}"/></p>
            <p>TOP LOCATION :
                <ul th:each="location : ${member.locations}">
                    <li><span th:text="${location.name}"/> <span th:text="${location.count}"/></li>
                </ul>
            </p>
        </li>
    </ul>
    <h2>Locations</h2>
    <p th:text="${cluster.mainJob}"/>
    <br/>
    <br/>
    <h2>Locations</h2>
    <ul th:each="location : ${cluster.mainLocations}">
        <li>
            <span th:text="${location}"/>
        </li>
    </ul>
    <br/>
    <br/>
    <h2>Videos</h2>
    <ul th:each="video : ${cluster.videos}">
        <li>
            <span th:text="${video.title}"/>
        </li>
    </ul>

    <br/>
    <br/>

    <h2>Channels</h2>
    <ul th:each="channel : ${cluster.channels}">
        <li>
            <span th:text="${channel.title}"/>
        </li>
    </ul>



    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>